%h1 Listing Retail Stores
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Location
      %th
      %th
      %th

  %tbody
    - @retail_stores.each do |retail_store|
      %tr
        %td= retail_store.name
        %td= retail_store.location
        %td= link_to 'Show', retail_store
        %td= link_to 'Edit', edit_retail_store_path(retail_store)
        %td= link_to 'Destroy', retail_store, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Retail store', new_retail_store_path, class: 'btn btn-primary'
