%p#notice= notice

%p
  %b Name:
  = @retail_store.name
%p
  %b Location:
  = @retail_store.location

%h3 Store Visits

%table.table.table-striped
  %thead
    %tr
      %th Sales Rep
      %th Verification Date
      %th

  %tbody
    - @retail_store.store_visits.each do |store_visit|
      %tr
      %td= store_visit.sales_rep.name if store_visit.sales_rep
      %td= store_visit.verification_date
      %td= link_to 'Show', store_visit

= link_to 'Edit', edit_retail_store_path(@retail_store), class: 'btn'
\|
= link_to 'Back', retail_stores_path, class: 'btn'
