.row
  .col-md-6
    = simple_form_for(@user) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

      .form-inputs
        .form-group
          = f.input :email, input_html: {class: 'form-control'}
        .form-group
          = f.input :password, input_html: {class: 'form-control'}, required: false
        .form-group
          = f.input :password_confirmation, input_html: {class: 'form-control'}, required: false

        .form-group
          = f.input :role, as: :select, collection: User::ROLES, input_html: {class: 'form-control'}

        .sales_fields{class: (@user.role != 0 ? 'd-none' : '')}
          %hr
          %h3 Sales Rep Information
          = f.simple_fields_for :sales_rep do |s|             
            .form-group
              = s.input :name, input_html: {class: 'form-control'}
            .form-group
              = s.input :employment_start_date, input_html: {class: 'form-control'}

      .form-actions
        = f.button :submit, class: 'btn btn-primary'
