%h1 Listing Users

.row
  .col-md-4.mb-2
    %input.form-control#search_users{type:"text", placeholder:"Search..."}

%table.table.table-striped#users_table
  %thead
    %tr
      %th Email
      %th Role
      %th Name
      %th Employment start date
      %th Total Store Visits
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= User::ROLES.invert[user.role]
        %td= user.sales_rep.name if user.sales_rep
        %td= user.sales_rep.employment_start_date if user.sales_rep
        %td= user.sales_rep.store_visits.count if user.sales_rep
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path, class: 'btn btn-primary'
