%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Role:
  = User::ROLES.invert[@user.role]

- if @user.sales_rep
  %p
    %b Name:
    = @user.sales_rep.employment_start_date
  %p
    %b Employment start date:
    = @user.sales_rep.employment_start_date

  %h3 Store Visits

  %table.table.table-striped
    %thead
      %tr
        %th Retail Store
        %th Verification Date
        %th

    %tbody
      - @user.sales_rep.store_visits.each do |store_visit|
        %tr
        %td= store_visit.retail_store.name if store_visit.retail_store
        %td= store_visit.verification_date
        %td= link_to 'Show', store_visit
= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path