%h1 Dashboard

.row
  .col-md-6
    %table.table.table-striped
      %tr
        %td Users
        %td= User.count
      %tr
        %td Retail Stores
        %td= RetailStore.count
      %tr
        %td Products
        %td= Product.count
      %tr
        %td Store Visits
        %td= StoreVisit.count