.row
  .col-md-6
    = simple_form_for(@store_visit) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

      .form-inputs
        .form-group
          = f.input :retail_store_id, as: :select, collection: RetailStore.all, input_html: {class: 'form-control'}
        - if current_user.admin?
          .form-group
            = f.input :sales_rep_id, as: :select, collection: SalesRep.all, input_html: {class: 'form-control'}
        - elsif (current_user.sales_rep)
          = f.input :sales_rep_id, as: :hidden, :input_html => { :value => current_user.sales_rep.id }

        .form-group
          = f.input :verification_date, input_html: {class: 'form-control'}

        %hr
        %h3 Product Verifications

        #product_verifications
          = f.simple_fields_for :product_verifications do |v|
            = render 'product_verification_fields', :f => v
            .links
              = link_to_add_association raw('<button type="button" class="btn btn-success btn-small">Add</button>'), f, :product_verifications

      .form-actions.pt-5
        = f.button :submit, class: 'btn btn-primary'
