.nested-fields
  .form-group
    = f.input :product_id, :as => :select,collection: Product.all, input_html: {class: 'form-control'}
  .form-group
    = f.input :unit_count, input_html: {class: 'form-control'}
  = link_to_remove_association raw('<button type="button" class="btn btn-danger btn-sm">X</button>'), f
.clearfix
%hr