%h1 Listing Store Visits

.row
  .col-md-4.mb-2
    %input.form-control#search_store_visits{type:"text", placeholder:"Search..."}

%table.table.table-striped#store_visits_table
  %thead
    %tr
      %th Retail store
      %th Sales rep
      %th Verification Date
      %th
      %th
      %th

  %tbody
    - @store_visits.each do |store_visit|
      %tr
        %td= store_visit.retail_store.name if store_visit.retail_store
        %td= store_visit.sales_rep.name if store_visit.sales_rep
        %td= store_visit.verification_date
        %td= link_to 'Show', store_visit
        %td= link_to 'Edit', edit_store_visit_path(store_visit)
        %td= link_to 'Destroy', store_visit, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Store visit', new_store_visit_path, class: 'btn btn-primary'
