%p#notice= notice

%p
  %b Retail store:
  = @store_visit.retail_store.name
%p
  %b Sales rep:
  = @store_visit.sales_rep.name if @store_visit.sales_rep
%p
  %b Verification date:
  = @store_visit.verification_date

%h3 Product Verifications

%table.table.table-striped
  %thead
    %tr
      %th Product
      %th Count

  %tbody
    - @store_visit.product_verifications.each do |verification|
      %tr
        %td= verification.product.name
        %td= verification.unit_count
      

= link_to 'Edit', edit_store_visit_path(@store_visit), class: 'btn'
\|
= link_to 'Back', store_visits_path, class: 'btn'
