.form-signin
  %h2 Please sign in
  = render '/shared/flash'
      
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signgin'}) do |f|
    - if f.error_notification
      .alert.alert-default= f.error_notification
    .form-inputs
      = f.input :email,                       
        required: false,  
        label: false,                    
        autofocus: true,                      
        input_html: { autocomplete: "email", class: 'form-control', placeholder: 'Email' } 
      = f.input :password,                               
        required: false,                                 
        label: false,
        input_html: { autocomplete: "current-password", class: 'form-control', placeholder: 'Password' } 
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions
      = f.button :submit, "Log in", class: 'btn btn-primary btn-block'