.row
  .col-md-6
    = simple_form_for(@product) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

      .form-inputs
        .form-group
          = f.input :name, input_html: {class: 'form-control'}

      .form-actions
        = f.button :submit, class: 'btn btn-primary'
